{% extends 'base.html.twig' %}
{% block title %}All commentary{% endblock %}
{% block content %}
 <div>
     {% if messages|length > 0 %}
         {% for message in messages %}
            <h1>{{ message.messageDesc }}</h1>
             <p>{{ message.author.username }}</p>
             <div>
     </div>
     {% endfor %}
         {% else %}
         There is nothing yet
     {% endif %}
 </div>
{% endblock %}
