{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}

{% block content %}
    <section>
        <h1 style="margin: auto;">Welcome Home</h1>
    </section>
    <section>
        <p style="text-align: center; width: 100%">CALCEARE IS THE HOME OF SNEAKERHEADS.

            HERE YOU CAN BUY AND SELL FAMOUS SHOES ABOUT OTHERS.

            BUILT TO MAKE THE MOST PEOPLE HAPPY, CALCEARE ALLOWS EVERYONE TO SHARE THEIR NEW DISCOVERIES AND EVOLVE THE WORLD OF SNEAKERS.

            DO NOT FORGET THAT THIS SITE IS ABOVE ALL A SHOWCASE OF YOUR PRODUCTS, DO NOT HESITATE TO HIGHLIGHT THEM.

            BEST WISHES.

            SIGNED THE CALCEARE TEAM ❤️</p>

    </section>
{% endblock %}