{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}

{% block content %}
    <section>
        <h1 style="margin: auto;">About</h1>
    </section>
    <section>

    </section>
{% endblock %}