<section class="border-bottom">
  <h1>NIKE Air Mag - h1</h1>
  <h2>Add product - h2</h2>
  <h3>Add product - h3</h3>
  <input type="text" placeholder="name">
  <a href="" class="CTA">
    <span>Make order →</span>
  </a>
  <p>Ceci est un paragraphe</p>
</section>
<section>
  <h3>Last drop of the seller - h3</h3>
  <div class="grid3">
    <a href="" class="card_produit">
      <img src="{{ asset('img/produit.jpg') }}" alt="">
      <div class="detail">
        <h4>NIKE Air Force One</h4>
        <div class="price">
          <span class="primary_color dashed">$100.99</span>
          <span class="italic">$80.99</span>
        </div>
      </div>
      <span class="hoverElement">
                            Buy - me now !
                        </span>
    </a>
    <a href="" class="card_produit">
      <img src="https://i.pinimg.com/564x/83/a3/54/83a3542fde46589d771718a7a38ed3a5.jpg" alt="">
      <div class="detail">
        <h4>NIKE Quelque chose</h4>
        <div class="price">
          <span class="primary_color dashed">$80.99</span>
          <span class="italic">$60.99</span>
        </div>
      </div>
      <span class="hoverElement">
                            Buy - me now !
                        </span>
    </a>
    <a href="" class="card_produit">
      <img src="https://i.pinimg.com/564x/c3/c7/84/c3c7844c9e8b1990753809a5f8c99943.jpg" alt="">
      <div class="detail">
        <h4>New Balance</h4>
        <div class="price">
          <span class="italic">$129.99</span>
        </div>
      </div>
      <span class="hoverElement">
                            Buy - me now !
                        </span>
    </a>
  </div>
</section>