{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="border-bottom section_landing_page">
        <div>
            <h1>
                <div>C</div>
                <div>a</div>
                <div>l</div>
                <div>c</div>
                <div>e</div>
                <div>a</div>
                <div>r</div>
                <div>e</div>
            </h1>
        </div>
    </section>
    <section class="glass-effect border-radius section_home_description">
        <div>
            <h3>SOME F**KING TEXT</h3>
            <div class="stroke"></div>
        </div>
        <p>LOREM IPSUM THOMAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALLY SPIES LOREM IPSUM POKEMON LUCAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALY  LAPIN CANARD WC TOTALY SPIES MAXIME LE BG LAPIN CANARD WC TOTALY SPIESLOREM IPSUM BOLOSS BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES LOREM IPSUM POKEMON BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES CHARLES LE BG

            LOREM IPSUM THOMAS LE BG BACON OIGON MUFFIN LAPIN CANARD WC TOTALLY SPIES LOREM IPSUM POKEMON  OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES LOREM IPSUM POKEMON BACON OIGON MUFFIN LAPIN CANARD WC TOTALY SPIES CHARLES LE BG</p>
        <a href="" class="CTA">
            <span>See more →</span>
        </a>
    </section>
{% endblock %}


