{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="login_title">
        <h1>Login</h1>
    </section>
    <section>
        <form class="login_form" action="{{ path('app_login') }}" method="POST">
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="_username"
                placeholder="Username"
                value="{{ lastUsername }}"
            />

                <label for="password">Password</label>
                <input type="password" name="_password" id="password" placeholder="Password">


            <button type="submit" class="login_form--button">
                CONNECT
            </button>
        </form>
    </section>
{% endblock %}