{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="login_title">
        <h1>Login</h1>
    </section>
    <section>
        <form action="{{ path('app_login') }}" class="login_form" method="post">
            <label for="_username">Pseudo</label>
            <input
                    type="text"
                    id="_username"
                    name="_username"
                    placeholder="Pseudo"
                    value="{{ lastUsername }}"
            />
            <label for="_password">Password</label>
            <input
                type="password"
                id="_password"
                name="_password"
                placeholder="Password"
            />
            <input type="hidden" name="_target_path" value="/">
            <button type="submit" class="login_form--button">
                CONNECT
            </button>
        </form>
    </section>
{% endblock %}