/* Product */
.product-tag {
    display: inline;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    padding: 5px 9px;
    border-radius: 20px;
    margin-right: 10px;
}

.product-desc {
    font-weight: 700;
    margin: 80px 0;
}

.product h1 {
    font-weight: 400;
}

.product h2, .product h5 {
    font-family: var(--text-font);
    font-weight: 500;
    font-style: italic;
}

.product-size *,
.product-condition * {
    display: inline;
}

.product-size h5,
.product-condition h5 {
    font-size: 20px;
    margin-right: 20px;
}

.product-size p,
.product-condition p {
    display: inline;
    font-weight: 500;
}

.product-img img {
    border-radius: 30px;
    box-shadow: 0 3px 24px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.product-seller-title {
    text-align: right;
}

.product-seller-name {
    text-align: center;
}

.product-seller-picture {
    border: 4px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 300px;
    height: 180px;
    object-fit: cover;
    margin: 30px 0 18px;
}

.product-seller {
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(13px);
    border-radius: 20px;
    padding: 20px;
    margin-left: 28px;
}

.product-seller h2 {
    margin: 0;
    font-size: 25px;
}

.product-seller-rating {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 200px;
}

.product-seller-rating * {
    display: inline;
    height: 29px;
    width: 29px;
    transform: rotate(45deg);
}

.product .CTA {
    float: right;
    margin-top: 200px;
    font-size: 36px;
}

.product-flex-container {
    display: flex;
}

/* Recommendation */
.recommendation {
    margin-bottom: var(--5m);
}

.recommendation h2 {
    font-size: 32px;
}

.recommendation-product {
    height: 450px;
    aspect-ratio: 1;
    display: flex;
    margin-right: 55px;
    margin-bottom: 20px;
}

.recommendation-slider {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}