/* Product */
.product-tag {
    display: inline;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: var(--3m);
    margin-right: var(--1m);
    margin-bottom: var(--1m);
}
.product-tag-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.product h1 {
    font-weight: 400;
}

.product h2 {
    font-family: var(--text-font);
    font-weight: 500;
    font-style: italic;
}
.product-detail{
    height: 100%;
}
.product-size *,
.product-condition * {
    display: inline;
}

.product-size h5,
.product-condition h5 {
    margin-right: var(--1m);
}

.product-size p,
.product-condition p {
    display: inline;
    font-weight: 500;
}

.product-seller-title {
    text-align: center;
}

.product-seller-name {
    text-align: center;
}

.product-seller-picture {
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 30/18;
    height: auto;
    border: var(--border-black);
    object-fit: cover;
    margin: var(--4m) 0 var(--2m);
}

.product-seller {
    background-color: var(--white-color);
    border-radius: var(--radius-30);
    padding: var(--3m);
    width: 100%;
    transition: 0.3s ease-in-out;
}
.product-seller:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    transition: 0.3s ease-in-out;
}

.product-seller h2 {
    margin: 0;
    font-size: 25px;
}

.product-seller-rating {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 200px;
}

.product-seller-rating * {
    display: inline;
    height: 29px;
    width: 29px;
    transform: rotate(45deg);
}
.product-img{
    min-height: 500px;
    height: 100%;
}
.product .CTA {
    float: right;
    margin-top: var(--10m);
}

.product-flex-container{
    margin-top: var(--5m);
}
.product-flex-container>div>div{
    margin-bottom: var(--2m);
}
/* Recommendation */
.recommendation {
    margin-bottom: var(--5m);
}

.recommendation h2 {
    font-size: 32px;
}

.recommendation-product {
    height: 450px;
    aspect-ratio: 1;
    display: flex;
    margin-right: 55px;
    margin-bottom: 20px;
}

.recommendation-slider {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}