.shop_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_menu {
    align-items: center;
    padding-top: 0;
}

.shop_menu_list {
    margin: 0 auto 50px;
}

.shop_menu_list--title {
    margin-bottom: 20px;
}

form {
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

form > div > * {
    display: block;
    margin: 10px 20px 0 0
}

.form_min_max input {
    width: 130px;
}

.search_bar, .inputBeforeSubmit {
    margin-right: 50px;
}

.search_bar {
    max-width: 500px;
    width: 100%;
}

.product_search input:not(input[type='submit']),
.product_search select {
    border-radius: 0;
}

input[type='submit'] {
    margin-top: 10px;
}