<a href="" class="card_produit">
    <img src="{{ asset('img/produit.jpg') }}" alt="">
    <div class="detail">
        <h4>NIKE Air Force One</h4>
        <div class="price">
            <span class="primary_color dashed">$100.99</span>
            <span class="italic">$80.99</span>
        </div>
    </div>
    <span class="hoverElement">
                            Buy - me now !
                        </span>
</a>